body{
    font-family: 'Poppins', sans-serif;
}
.skip{
    color: orange;
}
.link{
    background-image:linear-gradient(orange, tomato);
    text-decoration:none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
}
.first-part{
    width: 50%;
    padding: 5%;
}
.section-1{
    display: flex;

}
.first-image{
    width: 80%
}